<%
breadcrumb(['Site Feedback'])
%>

<div class="hero-unit">
  <h1>Feedback Submitted Successfully</h1>
  <%
  #Someone from reserves will contact you about a resolution.
  %>
  <p>Thank you for your feedback.  </p>
  <p>
    Issue: <br />
    <%= params[:comments] %>
  </p>
  <p>
    <a href="<%= params[:path] %>" class="btn btn-primary btn-large">
      Back
    </a>
  </p>
</div>
