<%
breadcrumb(['Site Feedback'])
%>
<div class="hero-unit">
  <h1>Report Submitted Successfully</h1>
  <p>Someone from reserves will contact you about a resolution.</p>
  <p>
    Issue: <br />
    <%= params[:comments] %>
  </p>
  <p>
    <a href="<%= root_path %>" class="btn btn-primary btn-large">
      Home
    </a>
  </p>
</div>
