<% content_for(:content_title_links) do %>
  <p><a href="/documentation/troubleshooting" class="btn">Trouble Viewing the Material?</a></p>
<% end %>

<% if user_course_show.reserves.size > 0 %>
<table class="table table-striped find-resources student_datatable datatable show_popover_help">
  <thead>
    <tr>
      <th>Reserve</th>
      <th class="topic_row"></th>
    </tr>
  </thead>
  <tbody>
    <% user_course_show.reserves.each do | reserve | %>
      <%= render :partial => 'student_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>
<% else %>
<p class="alert">
  This class does not currently have any reserves.<br />  If you were expecting to find reserves it could be that the reserves have not finished being setup.
</p>
<% end %>
