<% content_for(:content_title) do %>
  <%= render partial: '/course_reserves/course_title', locals: { course: @user_course_show.course } %>
<% end %>

<% if @user_course_show.current_or_future_semester? %>
  <% breadcrumb([ link_to('Courses', courses_path), @user_course_show.title ]) %>
<% else %>
  <% breadcrumb([ link_to('Courses', courses_path), link_to('Archived Courses', archived_courses_path), @user_course_show.title ]) %>
<% end %>

<div class="show_popover_help">
  <%= render partial: 'table_filter', locals: { course: @user_course_show.course } %>
</div>

<%= render @user_course_show.show_partial %>


<!-- Modal -->
<div id="check_availability" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Check Availability</h3>
  </div>
  <div class="modal-body">

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

