<div class="modal" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="requestModalLabel" aria-hidden="true">
  <style type="text/css">
    .label-info {font-size: 12px;}
  </style>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="requesterModalLabel">Video Technical Information</h3>
  </div>
  <div class="modal-body">
    <% if @request.technical_metadata.count >= 1 %>
      <table class="modal_info_table" cellpadding="4">
        <% for tech_attr in @request.technical_metadata %>
          <tr>
            <td align="right"><h4><%= tech_attr.metadata_attribute.name %></h4></td>
            <td><span><%= tech_attr.value %></span></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <div class="alert alert-info">No technical metadata attributes were found.</div>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
