<script type="text/javascript">
  $(window).load(function() {
    busyLoader();
    refresh_tables('all'); 
  });
  $(document).ready(function() { 
      
    preload([
      '/assets/images/ajax-loader.gif'
      ]);

    $('a[data-toggle="tab"]').click(function (e) {
      var req_type = $(e.target).attr('r_type');
      busyLoader();
      refresh_tables(req_type);
    });

    $(document).ajaxStart(function() {
      // put start activities here if necesary
    }).ajaxStop(function() {
      $('.ajaxBusy').remove();
    });
    
  });

  function preload(arrayOfImages) {
    $(arrayOfImages).each(function() {
        loading_image = new Image();
        loading_image.src = this;
        // $('<img/>')[0].src = this;
    });
  }

  function busyLoader() {
    $('.requests_table_container').empty();
    $('.requests_table_container').append('<div class="ajaxBusy"><img src="/assets/images/ajax-loader.gif"></div>');
    $('.ajaxBusy').css({
      width: 'auto',
      padding: '50px',
      'text-align': 'center',
      margin: '0px auto 0px auto'
    });
  }

  function busyLoaderModal() {
    $('<div class="modal ajaxBusy" role="dialog" aria-hidden="true"><img src="/assets/images/ajax-loader.gif"></div>').appendTo('body').modal({backdrop: false});
    $('.ajaxBusy').css({
      width: 'auto',
      padding: '180px',
      'text-align': 'center'
    });
  }

  function refresh_tables(type) { 
      $.ajax({
        url: <%= link_to requests_by_state_path %>,
        dataType: 'html',
        type: 'POST',
        data: 's_val=' + type,
        success: function(data) {
          $('.ajaxBusy').remove();
          $('#' + type + '_div').append(data);
          $('#' + type + '_table').dataTable({
            sPaginationType: "full_numbers"
          });
        }
      });
  }
</script>
<div class="container">
  <div class="row">
    <h1>Video Requests</h1>
    <div class="span12 tabbable tabs-top">
      <ul class="nav nav-tabs">
        <li class="active">
        <a data-toggle="tab" style="outline-style: none;" r_type="all" href="#lA">All</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="new" href="#lB">New</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="awaiting_acquisitions" href="#lC">Awaiting Acquisitions</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="awaiting_cataloging" href="#lD">Awaiting Cataloging</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="digitized" href="#lE">Digitized</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="converted" href="#lF">Converted</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="uploaded" href="#lG">Uploaded</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="lA" class="tab-pane active">
          <div id="all_div" class="requests_table_container">
          </div>
        </div>
        <div id="lB" class="tab-pane">
          <div id="new_div" class="requests_table_container">
          </div>
        </div>
        <div id="lC" class="tab-pane">
          <div id="awaiting_acquisitions_div" class="requests_table_container">
          </div>
        </div>
        <div id="lD" class="tab-pane">
          <div id="awaiting_cataloging_div" class="requests_table_container">
          </div>
        </div>
        <div id="lE" class="tab-pane">
          <div id="digitized_div" class="requests_table_container">
          </div>
        </div>
        <div id="lF" class="tab-pane">
          <div id="converted_div" class="requests_table_container">
          </div>
        </div>
        <div id="lG" class="tab-pane">
          <div id="uploaded_div" class="requests_table_container">
          </div>
        </div>
      </div>
    </div>
  </div>
