<script type="text/javascript" charset="utf-8">
  
  $(window).load(function() {
    busyLoader();
    refresh_tables('all'); 
  });

  $(document).ready(function() { 
      
    preload([
      '/assets/images/ajax-loader.gif'
    ]);

    $('a[data-toggle="tab"]').click(function (e) {
      var req_type = $(e.target).attr('r_type');
      busyLoader();
      refresh_tables(req_type);
    });
    
  });

</script>
<div class="container">
  <div class="row">
    <h1>Video Requests</h1>
    <div class="span12 tabbable tabs-top">
      <ul class="nav nav-tabs">
        <li class="active">
        <a data-toggle="tab" style="outline-style: none;" r_type="all" href="#lA">All</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="new" href="#lB">New</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="awaiting_acquisitions" href="#lC">Awaiting Acquisitions</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="awaiting_cataloging" href="#lD">Awaiting Cataloging</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="digitized" href="#lE">Digitized</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="converted" href="#lF">Converted</a>
        </li>
        <li class="">
        <a data-toggle="tab" style="outline-style: none;" r_type="uploaded" href="#lG">Uploaded</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="lA" class="tab-pane active">
          <div id="all_div" class="requests_table_container">
          </div>
        </div>
        <div id="lB" class="tab-pane">
          <div id="new_div" class="requests_table_container">
          </div>
        </div>
        <div id="lC" class="tab-pane">
          <div id="awaiting_acquisitions_div" class="requests_table_container">
          </div>
        </div>
        <div id="lD" class="tab-pane">
          <div id="awaiting_cataloging_div" class="requests_table_container">
          </div>
        </div>
        <div id="lE" class="tab-pane">
          <div id="digitized_div" class="requests_table_container">
          </div>
        </div>
        <div id="lF" class="tab-pane">
          <div id="converted_div" class="requests_table_container">
          </div>
        </div>
        <div id="lG" class="tab-pane">
          <div id="uploaded_div" class="requests_table_container">
          </div>
        </div>
      </div>
    </div>
  </div>
