<div class="container">
  <div class="row">
    <div class="span9">
      <h3>Create Video Request</h3>
      <div class="span9" style="margin-top: 20px;">
        <%= render 'new_form' %>
      </div>
    </div>
  </div>
</div>
