<div class="container">
  <div class="row">
    <div class="span9">
      <h3>New Video</h3>
      <div class="span9">
        <%= render 'new_form' %>
        <%= link_to 'Back', admin_open_video_index_path %>
      </div>
    </div>
  </div>
</div>

