<% content_for(:content_title) do %>
  <div class="page-header"><h1>Courses</h1></div>
<% end %>
<% content_for(:help) do %>
  <a class="btn btn-info"><i class="icon-question-sign"></i> Help</a>
<% end %>

<% breadcrumb([ 'Courses ']) %>

<% if @reserves.has_enrolled_courses? && @reserves.has_instructed_courses? %>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#enrolled" data-toggle="tab">Courses I am Taking</a></li>
    <li><a href="#instructed" data-toggle="tab">Courses I am Teaching</a></li>
  </ul>
<% end %>

<div class="tab-content">

  <% if @reserves.has_enrolled_courses? %>
    <div class="tab-pane active" id="enrolled">

      <%= render :partial => 'enrolled_course_list', locals: { enrolled_courses: @reserves.courses_with_reserves } %>

    </div>
  <% end %>

  <% if @reserves.has_instructed_courses? %>
    <div class="tab-pane <%= !@reserves.has_enrolled_courses? ? 'active' : '' %>" id="instructed">
      <form class="well form-search">
        <label>Semester: <select name="semster_id" class="search_select"><%= options_from_collection_for_select(@reserves.all_semesters, :id, :name, params[:semster_id]) %></select></label>
      </form>
      <script type="text/javascript">
        $('.search_select').change(function () {
          $(this).parents('form').submit();
        });
      </script>

      <%= render :partial => 'instructed_course_list', locals: { instructed_courses: @reserves.instructed_courses } %>

    </div>
  <% end %>
</div>
