<% content_for(:content_title) do %>
  <h1><%= h @course.title %> <small><%= h @course.instructor %></small></h1>
<% end %>
<% content_for(:content_title_links) do %>
  <a class="btn btn-info"><i class="icon-question-sign"></i> Help</a>
  <a href="student_courses" class="btn btn-primary"></i> Done</a>
<% end %>

<% # breadcrumb([ link_to('Courses', 'student_courses'), 'Course 1']) %>
<table class="table table-striped find-resources student_datatable">
  <thead>
    <tr>
      <th>Reserve</th>
      <th></th>
      <th class="topic_row"></th>
    </tr>
  </thead>
  <tbody>
    <% @course.reserves.each do | reserve | %>
      <%= render :partial => '/external/request/lists/student_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function () {


</script>
