db/*.sqlite3
log/*.log
stats/*.csv
tmp/
.sass-cache/
vendor/bundle/ruby/
vendor/bundle/
doc/apidocs/
doc/api/
doc/app/
.sass-cache/
config/database.yml
config/sakai.yml
script/sakai_test_connection.rb
uploads/pdfs
uploads/movs
uploads/old_files
.bundle/config
site.reek
config/secrets.yml
