<div>



</div>

<%= f.input :overwrite_nd_meta_data, as: :hidden %>

<script type="text/javascript">
  function startRecordId(){
    var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: $('.admin_update_meta_data_nd_meta_data_id')[0],
            intro: "Fill this field in with the aleph record id.  On <a href=\"http://onesearch.library.nd.edu/primo_library/libweb/action/display.do?tabs=detailsTab&ct=display&fn=search&doc=ndu_aleph001368481&indx=2&recIds=ndu_aleph001368481&recIdxs=1&elementId=1&renderMode=poppedOut&displayMode=full&frbrVersion=4&dscnt=2&frbg=&tab=onesearch&dstmp=1382722281256&srt=rank&mode=Basic&dum=true&fromLogin=true&vl(freeText0)=book&vid=NDU\" target=\"_blank\">this</a> page it is labeled \"Record ID\""
          },
          {
            element: $('#test_meta_data')[0],
            intro: "Tests that the record id is valid.  This will popup a window and display the record from our catalog."
          },
          {
            element: $('.admin_update_meta_data_display_length')[0],
            intro: "Distinguishing Title is used when you have more then one record with the same meta data.  <br><br>For example the instuctor wants her students to read chapter 2 and chapter 4 from The Catcher in the Rye.  You would enter Chapter 2 into the record that has the pdf of chapter 2 and Chapter 4 into the record that has the pdf of chapter 4.",
          },
          {
            element: $('#not_in_our_records')[0],
            intro: 'Select this button if you want to link this record to the meta data in the catalog.',
            position: 'right'
          }
        ]
      });

      intro.start();
  }

  function starNotinRecordsId() {
    var intro = introJs();
      intro.setOptions({
        steps: [
          {
            element: $('.admin_update_meta_data_title')[0],
            intro: "Fill this field in with the title of the work"
          },
          {
            element: $('.admin_update_meta_data_creator')[0],
            intro: "Fill this field in with your best estimate at who the author or creator is."
          },
          {
            element: $('.admin_update_meta_data_details')[0],
            intro: "Fill this field in with publisher information or the Journal Information for articles."
          },
          {
            element: $('#use_meta_data_id')[0],
            intro: 'Select this button if the record is not in our catalog.  You will be able to enter the meta data yourself. d',
            position: 'right'
          }
        ]
      });
      intro.start();
  }
</script>
