<div class="container">
  <div class="row">
    <div class="span9">
        <h1>Edit Semester</h1>
        <div class="span9">
        <form id="edit-semester" class="simple-form form-horizontal" name="semester">
            <div class="control-group string required">
                <label class="string required control-label" for="semester_code">
                    <abbr title="required">*</abbr> 
                    Code:
                </label>
                <div class="controls">
                    <input type="text" class="string required span6" name="code" id="semester_code" value="<%= code %>" >
                </div>
            </div>
            <div class="control-group string required">
                <label class="string required control-label" for="semester_full_name">
                    <abbr title="required">*</abbr>
                    Full Name:
                </label>
                <div class="controls">
                    <input type="text" class="string required span6" name="full_name" id="semester_full_name" value="<%= full_name %>" >
                </div
            </div>
            <div class="form-actions">
                <input type="submit" class="btn-primary" value="Update Semester" />
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<a href="#/index">Back</a>
