<h1>New semester</h1>

<form id="new-semester" name="semester">
  <div class="field">
    <label for="code"> code:</label>
    <input type="text" name="code" id="code" value="<%= code %>" >
  </div>

  <div class="field">
    <label for="full_name"> full_name:</label>
    <input type="text" name="full_name" id="full_name" value="<%= full_name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Semester" />
  </div>

</form>

<a href="#/index">Back</a>