
Current User: <%= current_user.username %>

<form action="/login">

  Username: <input type="text" name="username">
  <input type="submit" value="Change Users">

</form>


<p>Students: abuechle, jgordon4, bhank, gsmith12, pconroy</p>

<p>Instructors: cwray, jotousa1, mmeyer9, wschmuhl, kmilani</p>
