<ul class="topics<%= object.id %>">
  <% object.topics.each do | topic  | %>
    <li><%= h topic %></li>
  <% end %>
</ul>
<a href="#topic_form<%= object.id %>" data-toggle="modal" class="add_topic">Edit Topics</a>

