<div class="container">
  <div class="row">
    <div class="span9">
      <h1>Not Authorized</h1>
      <div class="span9">
        <div class="alert alert-error">
          <strong>NOT AUTHORIZED: </strong>You are not authorized to access this page or perform this function.
        </div>
      </div>
    </div>
  </div>
</div>
