---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/people/by_netid/jotousa1/201310/courses.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"people":[{"id":"jotousa1","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jotousa1","first_name":"Janet","last_name":"O''Tousa","full_name":"Janet
        O''Tousa","ndguid":"nd.edu.ndkr3mh8","position_title":"Associate Professional
        Specialist","campus_department":"Accountancy","primary_affiliation":"Faculty","contact_information":{"campus_address":"252
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"jotousa1@nd.edu","phone":"+1
        574 631 9090"},"enrolled_courses":[],"instructed_courses":[{"course_id":"201310_ACCT_20100","crosslist_id":"201310_JE_JH_JJ_JK","course_title":"Accountancy
        I","section_groups":{"section_group_id":"201310_11294_11299_15479_11300","primary_instructor":{"id":"jotousa1","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jotousa1","first_name":"Janet","last_name":"O''Tousa","full_name":"Janet
        O''Tousa","ndguid":"nd.edu.ndkr3mh8","position_title":"Associate Professional
        Specialist","campus_department":"Accountancy","primary_affiliation":"Faculty","contact_information":{"campus_address":"252
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"jotousa1@nd.edu","phone":"+1
        574 631 9090"}},"sections":[{"section_id":"201310_11294","supersection_id":"FA13-ACCT-20100-SSJK","instructors":[{"id":"jotousa1","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jotousa1","first_name":"Janet","last_name":"O''Tousa","full_name":"Janet
        O''Tousa","ndguid":"nd.edu.ndkr3mh8","position_title":"Associate Professional
        Specialist","campus_department":"Accountancy","primary_affiliation":"Faculty","contact_information":{"campus_address":"252
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"jotousa1@nd.edu","phone":"+1
        574 631 9090"}}],"term":"201310","course_triple":"201310_ACCT_20100","course_title":"Accountancy
        I","alpha_prefix":"ACCT","number":20100,"section_number":3,"crn":"11294","enrollments":["jdykstr1","kdold1","afeltz","ahakes","bbrockma","bcimons","cbuehler","cgaffy","dchae1","ecollin5","edavis12","escallen","gmadden1","hhuffma1","kbrenn13","kkelley3","kkoester","krogers6","lgolden","lgolke","mcyrocki","mlopez11","mmatigia","mmcfadd2","mphill15","mschleg1","mvicenzi","nfischer","nsmith16","nwilli10","qmonagha","qwang3","rbonner1","rclark13","rhusting","sdoyle9","ttemplet"]},{"section_id":"201310_11299","supersection_id":"FA13-ACCT-20100-SSJK","instructors":[{"id":"jotousa1","iden[...]
