<div class="container">
  <div class="row">
    <div class="span9">
      <h1>Edit Semester</h1>
      <div class="span9">
        <%= render 'admin/semester/form' %>
        <%= link_to 'Show', admin_semester_path(@semester) %> |
        <%= link_to 'Back', admin_semester_path %>
      </div>
    </div>
  </div>
</div>

