<tr>
  <td>
    <%= render :partial => '/external/request/lists/list_record', :locals => { object: object} %>
  </td>
  <!-- td class="topic_cell">
    <%= render partial: '/topics/topic_edit_link', locals: { object: object } %>
    <%= render partial: '/topics/add_topics_form', locals: { reserve: object } %>
  </td -->
  <td><%= object.workflow_state.titleize %></td>
</tr>
