<tr>
  <td>
    <p class="author"><i class="icon-facetime-video" title="journal"></i> <%= h object.creator %></p>
    <p class="title"><%= h object.title %></p>
  </td>
  <td>
    <%= h object.length %>
    <p class="citation"><a href="#citation_modal" data-toggle="modal">citation</a></p>
  </td>
</tr>
