---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/people/by_netid/cmick/201300/courses.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"people":[{"id":"cmick","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"cmick","first_name":"Connie","last_name":"Mick","full_name":"Connie
        Mick","ndguid":"nd.edu.ndxr9rw3","position_title":"Associate Professional
        Specialist","campus_department":"Center for Social Concerns","primary_affiliation":"Faculty","contact_information":{"campus_address":"205
        Geddes Hall&#10;Notre Dame, IN 46556-4633","email":"cmick@nd.edu","phone":"+1
        574 631 0498"},"enrolled_courses":[],"instructed_courses":[{"course_id":"201300_CSC_36991","crosslist_id":"201300_4193","course_title":"Directed
        Readings","section_groups":{"section_group_id":"201300_4193","primary_instructor":{"id":"cmick","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"cmick","first_name":"Connie","last_name":"Mick","full_name":"Connie
        Mick","ndguid":"nd.edu.ndxr9rw3","position_title":"Associate Professional
        Specialist","campus_department":"Center for Social Concerns","primary_affiliation":"Faculty","contact_information":{"campus_address":"205
        Geddes Hall&#10;Notre Dame, IN 46556-4633","email":"cmick@nd.edu","phone":"+1
        574 631 0498"}},"sections":[{"section_id":"201300_4193","supersection_id":null,"instructors":[{"id":"cmick","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"cmick","first_name":"Connie","last_name":"Mick","full_name":"Connie
        Mick","ndguid":"nd.edu.ndxr9rw3","position_title":"Associate Professional
        Specialist","campus_department":"Center for Social Concerns","primary_affiliation":"Faculty","contact_information":{"campus_address":"205
        Geddes Hall&#10;Notre Dame, IN 46556-4633","email":"cmick@nd.edu","phone":"+1
        574 631 0498"}}],"term":"201300","course_triple":"201300_CSC_36991","course_title":"Directed
        Readings","alpha_prefix":"CSC","number":36991,"section_number":1,"crn":"4193","enrollments":["agarci22"]}],"crosslist_id":"201300_4193"}}]}]}'
  recorded_at: Mon, 23 Sep 2013 18:58:35 GMT
[...]
