---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/resources/courses/print_reserves/all.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"bib_id":"002411125","sid":"NDU01-002411125-IIPS-60219-01","doc_number":"000045045","section_group_id":"201310_16203","crosslist_id":"201310_PQ","course_triple":"201310_IIPS_60219","title":"The
        Pol Pot regime :race, power, and genocide in Cambodia under the Khmer Rouge,
        1975-79 "},{"bib_id":"002365362","sid":"NDU01-002365362-IIPS-60219-01","doc_number":"000045024","section_group_id":"201310_16203","crosslist_id":"201310_PQ","course_triple":"201310_IIPS_60219","title":"Darfur
        :a new history of a long war "},{"bib_id":"001028236","sid":"NDU01-001028236-IIPS-60219-01","doc_number":"000045021","section_group_id":"201310_16203","crosslist_id":"201310_PQ","course[...]
