---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/people/by_netid/abuchman/201300/courses.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"people":[{"id":"abuchman","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"abuchman","first_name":"Amy","last_name":"Buchmann","full_name":"Amy
        Buchmann","ndguid":"nd.edu.ndqn6qb9","position_title":"Grad Student Stipend","campus_department":"Applied
        Computational Math & Stats","primary_affiliation":"Student","contact_information":{"email":"Amy.L.Buchmann.5@nd.edu"},"enrolled_courses":[{"course_id":"201300_ACMS_67890","crosslist_id":"201300_3605","course_title":"Independent
        Summer Research","section_groups":{"section_group_id":"201300_3605","primary_instructor":{"id":"mcollin5","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"mcollin5","first_name":"Maureen","last_name":"Collins","full_name":"Maureen
        Collins","ndguid":"nd.edu.ndxt5js8","position_title":"Data & Reporting Pgrm
        Mgr","campus_department":"Dean''s Office - Graduate School","primary_affiliation":"Staff","contact_information":{"campus_address":"502
        Main Building&#10;Notre Dame, IN 46556-4629","email":"Maureen.Collins.97@nd.edu","phone":"+1
        574 631 5926"}},"sections":[{"section_id":"201300_3605","supersection_id":null,"instructors":[{"id":"mcollin5","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"mcollin5","first_name":"Maureen","last_name":"Collins","full_name":"Maureen
        Collins","ndguid":"nd.edu.ndxt5js8","position_title":"Data & Reporting Pgrm
        Mgr","campus_department":"Dean''s Office - Graduate School","primary_affiliation":"Staff","contact_information":{"campus_address":"502
        Main Building&#10;Notre Dame, IN 46556-4629","email":"Maureen.Collins.97@nd.edu","phone":"+1
        574 631 5926"}}],"term":"201300","course_triple":"201300_ACMS_67890","course_title":"Independent
        Summer Research","alpha_prefix":"ACMS","number":67890,"section_number":1,"crn":"3605","enrollments":["abuchman","aspecht2","bxiong","chorr","dlv1","fpancald","jdan","jlioi","lwu2","mmachen","smahsere","tjiang","tkupaev","tmccoy","wchen4","whao"]}],"crosslist_id":"201300_3605"}}],"instructed_courses":[{"course_id":"201300_ACMS_20750","crosslist_id":"201300_18968","course_title":"Introduction
        to Applied Mathematical Methods II","section_groups":{"section_group_id":"201300_18968","primary_instructor":{"id":"abuchman","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"abuchman","first_name":"Amy","last_name":"Buchmann","full_name":"Amy
        Buchmann","ndguid":"nd.edu.ndqn6qb9","position_title":"Grad Student Stipend","campus_department":"Ap[...]
