

<% if !params[:no_player] %>
  <% # @jwplayer.jwplayer%>
<% end %>

<%
params[:type] = 'video' if !params[:type]

if params[:type] == 'audio'
  media_playlist = MediaPlaylist.new(type: 'audio', rows: [ { title: 'audio 1', file: 'C00139/C00139_0114.mp3' }, { title: 'audio2', file: 'C00139/C00139_0114.mp3' } ])

elsif params[:type] == 'single'
  type = 'video'
  size = 'single'
  playlist = {
    '1' => {
      title: 'big buck bunny 1',
      file: 'wowza-pprd.library.nd.edu:443/vod/mp4:big_buck_bunny_full.mov',
      token: '?t=232739d9a8a601a035bfbba23093e671',
      type: "hls"
    }
  }
else
  type = 'video'
  size = 'multiple'
  playlist = {
    '1' => {
      title: 'big buck bunny 1',
      file: 'wowza-pprd.library.nd.edu:443/vod/mp4:big_buck_bunny_full.mov',
      token: '?t=232739d9a8a601a035bfbba23093e671',
      type: "hls"
    },
    '2' => {
      title: 'big buck bunny 2',
      file: 'wowza-pprd.library.nd.edu:443/vod/mp4:big_buck_bunny_full.mov',
      token: '?t=232739d9a8a601a035bfbba23093e671',
      type: "hls"
    }
  }
end

c = CourseSearch.new.get('video_test_course')

#r = Reserve.factory(Request.new, c)
#r.save!

# SaveReserveMediaPlaylist.call(r) do |


%>

<% # @jwplayer.rstp_link %>

<% content_for(:content_title) do %>
  <h1>Big Buck Bunny</h1>
  <p class="lead">
    Bob bobbers<br />
    <small>Some People who make movies</small>
  </p>
<% end %>
<% content_for(:content_title_links) do %>
  <a href="/documentation/troubleshooting" target="blank" class="btn">Trouble Viewing the Material?</a>
<% end %>

<div class="twelve columns">
  <div id='jwplayer'>
    <p>dasfads</p><p>asdfdfas</p>
  </div>
</div>

<div id='jwplayer'>Loading the player...<h3>Troubleshooting</h3><ol><li>We recommend using <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a></li></div><script type='text/javascript'>jwplayer('jwplayer').setup({"fallback":false,"primary":"html5","html5player":"/assets/jwplayer.html5.js","flashplayer":"/assets/jwplayer.flash.swf","playlist":[{"sources":[{"file":"https://wowza.library.nd.edu/_definst_/vod/mp4:StreamingAudio/MP3/C09898/C09898_120315.m4a/playlist.m3u8?t=232739d9a8a601a035bfbba23093e671"}],"title":"test"}],"androidhls":true,"logo":{"file":"/assets/hesburgh.png","link":"http://library.nd.edu"},"autostart":true,"aspectratio":"16:9","width":"80%"});</script>

<a href="rtsps://wowza-pprd.library.nd.edu:443/aod/_definst_/mp3:C00139/C00139_0114.mp3">Play Audio</a>

<a href="https://wowza-pprd.library.nd.edu:443/aod/_definst_/mp3:C00139/C00139_0114.mp3/playlist.m3u8">Option 2</a>
