

<% if !params[:no_player] %>
  <% @jwplayer.jwplayer%>
<% end %>

<% @jwplayer.rstp_link %>

<div id='jwplayer'>
  <p>dasfads</p><p>asdfdfas</p>
</div>

<script type='text/javascript'>jwplayer('jwplayer').setup({
    "fallback":false,
    "primary":"html5",
    "html5player":"http://reserves.library.nd.edu//assets/jwplayer.html5.js",
    "flashplayer":"http://reserves.library.nd.edu//assets/jwplayer.flash.swf",
    "autostart":true,
    "height":"58",
    "androidhls":true,
    "playlist":[{"sources":[
        {"file":"http://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3/playlist.m3u8"},
      {"file":"rtmpt://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3"}]}]

  });

</script>

<a href="rtsp://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3">Play Audio</a>

<a href="http://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3/playlist.m3u8">Option 2</a>
