

<% if !params[:no_player] %>
  <% @jwplayer.jwplayer%>
<% end %>

<% @jwplayer.rstp_link %>

<div id='jwplayer'>
  <p>dasfads</p><p>asdfdfas</p>
</div>

<script type='text/javascript'>
jwplayer('jwplayer').setup({"fallback":false,"primary":"html5","html5player":"/assets/jwplayer.html5.js","flashplayer":"/assets/jwplayer.flash.swf","autostart":true,"width":"100%","aspectratio":"16:9","playlist":[{"sources":[{"file":"http://wowza-pprd-vm.library.nd.edu:1935/vod/mp4:big_buck_bunny_full.mov/playlist.m3u8?t=87a7a0966c0b5f78a755d9aa57e90e93"},{"file":"rtmpt://wowza-pprd-vm.library.nd.edu:1935/vod/mp4:big_buck_bunny_full.mov?t=87a7a0966c0b5f78a755d9aa57e90e93"}]}]});
</script>

<a href="rtsp://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3">Play Audio</a>

<a href="http://wowza-pprd-vm.library.nd.edu:1935/aod/_definst_/mp3:C00139/C00139_0114.mp3/playlist.m3u8">Option 2</a>
