---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/people/by_netid/jdan/201210/courses.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"people":[{"id":"jdan","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jdan","first_name":"Jun","last_name":"Dan","full_name":"Jun
        Dan","ndguid":"nd.edu.ndbf7fz2","position_title":"Grad Student Stipend","campus_department":"Applied
        Computational Math & Stats","primary_affiliation":"Student","contact_information":{"email":"Jun.Dan.2@nd.edu"},"enrolled_courses":[{"title":"201210_ACMS_60882","term_prefix":"201210","alpha_prefix":"ACMS","number":60882,"section":"01"},{"title":"Statistical
        Methods for Financial Risk Management","term_prefix":"201210","alpha_prefix":"ACMS","number":60890,"section":"01"},{"title":"Categorical/Discrete
        Data Analysis","term_prefix":"201210","alpha_prefix":"ACMS","number":70870,"section":"01"}],"instructed_courses":[{"title":"Statistical
        Reasoning in Politics","term_prefix":"201210","alpha_prefix":"ACMS","number":10141,"section":"01"},{"title":"201210_ACMS_10145","term_prefix":"201210","alpha_prefix":"ACMS","number":10145,"section":"04"}]}]}'
  recorded_at: Tue, 30 Apr 2013 15:33:52 GMT
recorded_with: VCR 2.4.0
