<%#
# To change this template, choose Tools | Templates
# # and open the template in the editor.
# %>

<table style="border: 1px solid black; margin-top: 20px; width: 80%;">
  <% for group in @groups %>
  <tr>
    <td>
      <%= group[:group_name] %>
    </td>
  </tr>
  <% end %>
</table>
