<% content_for(:content_title) do %>
  <h1>Edit <%= @semester.name %></h1>
<% end %>


<div class="row">
 <div class="span6">
    <%= simple_form_for @semester do |f | %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>

    <div class="pull-right">
      <%= button_to "Delete", semester_path(@semester), :class => 'btn-danger', :method => :delete, :confirm => "Are you sure you wish to delete this semester: #{@semester.name}?" %>
    </div>
  </div>
</div>

