<% filter.all_types.each do | type | %>
  <label class="checkbox">
    <%= check_box_tag("admin_request_filter[types][]", type, filter.type_selected?(type), class: (filter.default_type?(type) ? 'default' : nil), id: "request_type_filter_#{type}") %> <%= type.gsub('Reserve', '') %>
  </label>
<% end %>
