<div id="worldcat_alerts">
  <div id="worldcat_import_loading" class="alert-message block-message info" style="display:none;">
    <%= image_tag('ajax-loader-info.gif') %> Searching WorldCat
  </div>
  <div id="worldcat_import_failed" class="alert-message block-message error" style="display:none;">
    Unable to find a matching record in WorldCat
  </div>
</div>
