<div class="worldcat-alerts">
  <div class="worldcat-import-loading alert-message block-message info" style="display:none;">
    <%= image_tag('ajax-loader-info.gif') %> Searching WorldCat
  </div>
  <div class="worldcat-import-failed alert-message block-message error" style="display:none;">
    Unable to find a matching record in WorldCat
  </div>
</div>
