<% content_for(:content_title) do %>
  <div class="page-header">
    <h1>How Do I .....  ? </h1>
  </div>
<% end %>

<ul class="nav nav-tabs nav-stacked nav-pills span3" style="margin-right:20px;">
  <li class="active"><a href="#use-documentation" data-toggle="tab">Use this Documentation</a></li>
  <li class=""><a href="#add-as-instructor" data-toggle="tab">Add Requests for an Instructor</a></li>
  <li class=""><a href="#add-book-request" data-toggle="tab">Add a Book Request</a></li>
  <li class=""><a href="#add-book-chapter-request" data-toggle="tab">Add a Book Chapter Request</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Add a Article Request</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Add a Video Request</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Find a Request in the admin.</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Process a Book Request</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Process a Book Chapter Request</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Process an Article Request</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Process a Video Request</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Process Fair Use</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Copy a course from the old reserves system.</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Copy a course from the new reserves system.</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Link Meta Data to the ND Catalog</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Attach a PDF</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Add a Link</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Indicate an Item is On Order</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Publish a Request</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Masquerade as an Instructor</a></li>
  <li class=""><a href="#find-netid" data-toggle="tab">Find a Netid</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Find a Course</a></li>
  <li class=""><a href="#s-general" data-toggle="tab">Add a person to a course who is not in banner.</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Setup a new Semester.</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Distinguish 2 chapters from the same work.</a></li>

</ul>

<div class="tab-content" style="margin-left: 20%; margin-right: 100px;">
  <div class="tab-pane active" id="use-documentation">
    <p> Select a topic on the left to view step by step instructions to complete the task.</p>
  </div>

  <div class="tab-pane" id="use-documentation">
    <ol>
      <li>Find the instructors <a href="#find-netid" data-toggle="tab">netid</a></li>
      <li>Go to <a href="https://reserves.library.nd.edu">https://reserves.library.nd.edu</a>.</li>
      <li>Select Masqurade from the navigation at the top.</li>
      <li>Enter the netid in the Netid: box and press "Go". </li>
      <li>You are now</li>
  </div>
</div>
