<div id="copy-overlay">
  <%= form_tag course_copy_reserves_path(course.id) do %>
    <h4>Copy Material to a New Course</h4>
    <ul id="">
    </ul>
    <br />
    <select name="to_course" id="copy_to_select">
      <option>Copy to Course</option>
      <optgroup label="Current Semester">
        <%= options_from_collection_for_select(CopyCourseReservesForm.current_semester_courses(current_user), :id, :title) %>
      </optgroup>
      <optgroup label="Next Semester">
        <%= options_from_collection_for_select(CopyCourseReservesForm.next_semester_courses(current_user), :id, :title) %>
       </optgroup>
    </select>
    <div class="form-actions">
      <button type="submit" class="copy btn btn-primary">Copy Material</button>
      <button class="cancel btn">Cancel</button>
    </div>
  <% end %>
</div>
