<div id="copy-overlay">
  <%= form_tag course_copy_reserves_path(course.id) do %>
    <h4>Copy Material to a New Course</h4>
    <ul id="">
    </ul>
    <br />
    <select name="to_course" id="copy_to_select">
      <option>Copy to Course</option>
      <%= options_from_collection_for_select(instructed_courses, :id, :title) %>
      <optgroup label="Current Semester">
        <option>Course 1</option>
        <option>Course 2</option>
      </optgroup>
      <optgroup label="Next Semester">
        <option>Course 3</option>
        <option>Course 4</option>
      </optgroup>
    </select>
    <div class="form-actions">
      <button type="submit" class="copy btn btn-primary">Copy Material</button>
      <button class="cancel btn">Cancel</button>
    </div>
  <% end %>
</div>
