<% if reserves.size > 0 %>
<table class="table table-striped find-resources student_datatable datatable">
  <thead>
    <tr>
      <th>Reserve</th>
      <th class="topic_row"></th>
    </tr>
  </thead>
  <tbody>
    <% reserves.each do | reserve | %>
      <%= render :partial => '/external/request/lists/student_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>
<% else %>
<p class="alert">
  This class does not currently have any reserves.<br />  If you were expecting to find reserves it could be that the reserves have not finished being setup.
</p>
<% end %>
