<% if enrolled_courses.size > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Courses</th>
      <th>Instructor</th>
    </tr>
  </thead>
  <tbody>
    <% enrolled_courses.each do | course | %>
    <tr>
      <td>
        <a href="<%= course_path(course.id) %>"><%= h course.title %></a>
      </td>
      <td><%= h course.instructor_name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
