
<% # breadcrumb([ link_to('Courses', 'student_courses'), 'Course 1']) %>
<table class="table table-striped find-resources student_datatable datatable">
  <thead>
    <tr>
      <th>Reserve</th>
      <th class="topic_row"></th>
    </tr>
  </thead>
  <tbody>
    <% course.published_reserves.each do | reserve | %>
      <%= render :partial => '/external/request/lists/student_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>
