<% content_for(:content_title_links) do %>
  <% if user_course_show.can_have_new_reserves? %>
    <a href="<%= new_course_reserve_path(@can_have_new_reserves.course_id) %>" class="btn btn-primary">Request Material</a>
  <% end %>
<% end %>

<%= render partial: 'copy_form', locals: { course: user_course_show.course } %>

<% if user_course_show.reserves.size > 0 %>
<table class="table table-striped find-resources instructor_datatable datatable">
  <thead>
    <tr>
      <th>Reserve</th>
      <th class="topic_row">Topics</th>
      <th>Status</th>
      <th>Copy</th>
    </tr>
  </thead>
  <tbody>
    <% user_course_show.reserves.each do | reserve | %>
      <%= render :partial => '/external/request/lists/instructor_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>
<% else %>
  <p class="alert">
    <strong>There are no reserves requested for this class. </strong><br>
    <a href="<%= new_course_reserve_path(course.id) %>">Request Material</a>
  </p>
<% end %>


