<% content_for(:content_title) do %>
  <h1><%= h @course.title %> <small><%= h @course.instructor_name %></small></h1>
<% end %>

<% if @permission.current_user_enrolled_in_course?(@course) %>
  <%= render partial: 'enrolled_course_show', locals: { course: @course } %>
<% elsif @permission.current_user_instructs_course?(@course) %>
  <%= render partial: 'instructed_course_show', locals: { course: @course } %>
<% end %>
