<% content_for(:content_title) do %>
  <h1><%= h @user_course_show.title %> <small><%= h @user_course_show.instructor_name %></small></h1>
<% end %>

<% breadcrumb([ link_to('Courses', courses_path), @user_course_show.title ]) %>

<%= render partial: 'table_filter', locals: { course: @user_course_show.course } %>

<%= render @user_course_show.show_partial %>
