<% if instructed_courses.size > 0 %>
<table class="table table-striped instructed_courses">
  <thead>
    <tr>
      <th>Course</th>
      <th>Semester</th>
      <th>Cross Listings</th>
      <th>Sections</th>
    </tr>
  </thead>
  <tbody>
    <% instructed_courses.each do | course | %>
    <tr>
      <td>
        <%= link_to course.title, :controller => "copy_reserves", :action => "copy_step2", :course_id => to_course.id, :from_course_id => course.id %>
      </td>
      <td>
        <%= h course.semester.full_name %>
      </td>
      <td>
        <% course.crosslisted_course_ids.each do | cid | %>
          <%= raw cid %><br>
        <% end %>
      </td>
      <td><%= h course.section_numbers.join(", ") %></td>

    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
 <p class="alert">
    You do not currently have any courses for this semester.  It could just be that the courses have not been published to the reserve tool yet.  Please check back later.
  </p>
<% end %>
