<% content_for(:content_title) do %>
  <div class="page-header"><h1>Select Course to Copy Reserves <small>to <%= @copy_course_listing.to_course_title %></small></h1></div>
<% end %>
<% content_for(:help) do %>
  <a class="btn btn-info"><i class="icon-question-sign"></i> Help</a>
<% end %>


<% found_items = false %>
<% @copy_course_listing.all_semesters.each do | semester | %>
  <% if @copy_course_listing.semester_has_courses?(semester) %>
    <% found_items = true %>
    <%= render :partial => 'copy_course_list',
          locals: {
            instructed_courses: @copy_course_listing.semester_instructed_courses_with_reserves(semester),
            to_course: @copy_course_listing.to_course,
            title: semester.full_name }
      %>
  <% end %>
<% end %>

<% if !found_items %>
  <p class="alert">
    You do not have any courses that have reaserves to copy from.
  </p>
<% end %>
