<% content_for(:content_title) do %>
  <h1>Meta Data </h1>
<% end %>


<div class="row">
 <div class="span6">
    <%= simple_form_for @request, :url => requests_path() do | f | %>

      <% if !@show_files %>
        <%= render :partial => 'meta_data_id_form', locals: { f: f } %>
      <% end %>

      <div class="form-actions">
        <%= f.submit "Save" %>
      </div>
    <% end %>
  </div>

  <div class="span6 find-resources">
    <%= render :partial => '/external/request/lists/list_record', locals: { object: @request } %>
  </div>
</div>

