<%= form_for on_order_form, url: on_order_path(on_order_form.id), method: 'put' do | f | %>
  <p>
    <%= f.button raw("<i class=\"icon-share-alt\"></i> #{on_order_form.button_title}"), class: on_order_form.button_css %>
  </p>
<% end %>

