<div class="tabbable tabs-top">
  <ul class="nav nav-tabs">
    <% RequestTab.statuses.each do |status| %>
      <li class="<%= filter.css_class(status) %>">
        <a class="tab" filter="<%= status %>" href="<%= requests_path(:tab => status) %>"><%= t("request_status.#{status}") %></a>
      </li>
    <% end %>
  </ul>
</div>
