---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/resources/courses/by_crosslist/201310_12754.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"term_prefix":"201310","alpha_prefix":"CSC","number":63953,"course_title":"Civic
        Engagement and Social Responsibility","section_groups":[{"section_group_id":"201310_12754","primary_instructor":{"id":"ctomssme","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"ctomssme","first_name":"Cynthia","last_name":"TomsSmedley","full_name":"Cynthia
        TomsSmedley","ndguid":"nd.edu.ndwv3wx3","position_title":"Educational Immersion
        Prgm Dir","campus_department":"Center for Social Concerns","primary_affiliation":"Staff","contact_information":{"campus_address":"203
        Geddes Hall&#10;Notre Dame, IN 46556-4633","email":"ctomssmedley@nd.edu","phone":"+1
        574 631 3356"}},"sections":[{"section_id":"201310_12754","supersection_id":null,"instructors":[{"id":"cmick","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"cmick","first_name":"Connie","last_name":"Mick","full_name":"Connie
        Mick","ndguid":"nd.edu.ndxr9rw3","position_title":"Associate Professional
        Specialist","campus_department":"Center for Social Concerns","primary_affiliation":"Faculty","contact_information":{"campus_address":"205
        Geddes Hall&#10;Notre Dame, IN 46556-4633","email":"cmick@nd.edu","phone":"+1
        574 631 0498"}},{"id":"ctomssme","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"ctomssme","first_name":"Cynthia","last_name":"TomsSmedley","full_name":"Cynthia
        TomsSmedley","ndguid":"nd.edu.ndwv3wx3","position_title":"Educational Immersion
        Prgm Dir","campus_department":"Center for Social Concerns","primary_affiliation":"Staff","contact_information":{"campus_address":"203
        Geddes Hall&#10;Notre Dame, IN 46556-4633","email":"ctomssmedley@nd.edu","phone":"+1
        574 631 3356"}}],"term":"201310","course_triple":"201310_CSC_63953","course_title":"Civic
        Engagement and Social Responsibility","alpha_prefix":"CSC","number":63953,"section_number":1,"crn":"12754","enrollments":[]}],"crosslist_id":"201310_12754"}],"supersections":null}]'
  recorded_at: Thu, 29 Aug 2013 19:09:12 GMT
recorded_with: VCR 2.5.0
