---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/resources/courses/by_crosslist/201310_JE_JH_JJ_JK.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"term_prefix":"201310","alpha_prefix":"ACCT","number":20100,"course_title":"Accountancy
        I","section_groups":[{"section_group_id":"201310_19909","primary_instructor":{"id":"bfox5","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"bfox5","first_name":"Brian","last_name":"Fox","full_name":"Brian
        Fox","ndguid":"nd.edu.ndkh8kd4","position_title":"GRAD Stipend-Accountancy","campus_department":"Accountancy","primary_affiliation":"Student","contact_information":{"email":"Brian.P.Fox.92@nd.edu"}},"sections":[{"section_id":"201310_19909","supersection_id":null,"instructors":[{"id":"bfox5","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"bfox5","first_name":"Brian","last_name":"Fox","full_name":"Brian
        Fox","ndguid":"nd.edu.ndkh8kd4","position_title":"GRAD Stipend-Accountancy","campus_department":"Accountancy","primary_affiliation":"Student","contact_information":{"email":"Brian.P.Fox.92@nd.edu"}}],"term":"201310","course_triple":"201310_ACCT_20100","course_title":"Accountancy
        I","alpha_prefix":"ACCT","number":20100,"section_number":1,"crn":"19909","enrollments":["mprouse","aarcher1","aforlenz","akessle3","ccardon","drussoni","eander11","hhill1","hkumahor","jlee42","jwolfing","kcolema7","kcox3","mdesant3","mroger14","nfantozz","paffinit","rquinla1","sprice6","srosas"]}],"crosslist_id":"201310_N3"},{"section_group_id":"201310_11298","primary_instructor":{"id":"fagostin","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"fagostin","first_name":"Frank","last_name":"Agostino","full_name":"Frank
        Agostino","ndguid":"nd.edu.ndbs4km7","position_title":"Adjunct Instructor","campus_department":"Accountancy","primary_affiliation":"Faculty","contact_information":{"campus_address":"102
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"Frank.J.Agostino.8@nd.edu"}},"sections":[{"section_id":"201310_11298","supersection_id":null,"instructors":[{"id":"fagostin","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"fagostin","first_name":"Frank","last_name":"Agostino","full_name":"Frank
        Agostino","ndguid":"nd.edu.ndbs4km7","position_title":"Adjunct Instructor","campus_department":"Accountancy","primary_affiliati[...]
