<div class="modal" id="warningModal" tabindex="-1" role="dialog" style="z-index: 10000;" aria-labelledby="warningModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="requesterModalLabel">Fair Use Acknowledgement</h3>
  </div>
  <div class="modal-body">
    Materials submitted to the Hesburgh Libraries for digitization and/ or streaming are intended for classroom and course use only.
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
