<h5>Library Reserves</h5>
<p>
  General Processing Team<br/>
  Phone: 631-7578<br/>
  <a href="mailto:reserves@nd.edu">reserves@nd.edu</a><br/>
  <br/>
  Video Processing Team<br/>
  <a href="mailto:videoreserves-list@nd.edu">videoreserves-list@nd.edu</a><br/>
</p>
