<h5>Library Reserves</h5>
<p>
  Therese Bauters<br/>
  Supervisor, Reserves and ILL Lending<br/>
  Phone: 631-6188<br/>
  <a href="mailto:reserves@nd.edu">reserves@nd.edu</a><br/>
  <br/>
  Reserves Processing Team<br/>
  Phone: 631-7578<br/>
  <a href="mailto:reserves@nd.edu">reserves@nd.edu</a><br/>
</p>
