<div class="container">
  <div class="row">
    <div class="span15">
      <h2 style="color:#AD3536;">Oops, something went wrong...</h2>
      <div style="font-size: 18px; margin-top: 15px;" class="eight columns">
        <%= render partial: '/errors/error_help_message' %>
      </div>
    </div>
  </div>
</div>
