<ul class="nav nav-tabs nav-stacked nav-pills span3 affix" >
  <li class="active"><a href="#r-general" data-toggle="tab">General Information</a></li>
  <li class=""><a href="#r-books" data-toggle="tab">Books</a></li>
  <li class=""><a href="#r-articles" data-toggle="tab">Articles</a></li>
  <li class=""><a href="#r-videos" data-toggle="tab">Videos</a></li>
  <li class=""><a href="#r-video-faq" data-toggle="tab">Video FAQ</a></li>
  <li class=""><a href="#r-audio" data-toggle="tab">Audio</a></li>
  <li class=""><a href="#r-other" data-toggle="tab">Other</a></li>
</ul>
<div class="tab-content" style="margin-left: 20%; margin-right: 100px; margin-bottom: 200px;">
  <div class="tab-pane active" id="r-general"> 
    <p>Thank you for using library reserves. We're streamlining the intake and processing of reserves requests in order to make your use of reserves as efficient and troublefree as possible.</p>
    <p>At the beginning of the academic semester we will ask for a <strong>TEN (10) DAY</strong> lead time to process requests. Our processing time will vary depending on our workflow. ASAP requests do not receive priority but are merged into our work flow as time and workload permit.</p>
    <p>Personal copies may be placed on reserve.  Please see our <a href="/reserves/guidelinespersonalcopies.shtml">Personal Copy Guidelines</a>. As part of our commitment to the National Interlibrary Loan Code of the American Library Association, we cannot place hard copy books from other libraries on reserve. To place hard copy items on reserves at one of the branch libraries, please contact that branch for assistance.</p>
    <p>There is no limit to the number of items that can be placed on reserve. You may add items to your reserve course any time during the academic semester. Choices of loan periods for hard copy items include 1-hour, 2-hour, 2-hours and overnight, 1-day, 3-day and 7-day loans.</p>
    <p>A brief word concerning copyright. Copyright is all about balancing the rights of authors with  the rights of the public to use the work without seeking permission or paying royalties. Authors have the right to control the use of their work subject to exceptions permitted under the law. If the use exceeds such  exceptions, then infringing on someone's copyright can result in the infringer  paying money damages (civil liability). The course reserves staff will take care of obtaining copyright clearance, under the guidance of General Counsel, for all items submitted for electronic reserve. <i>For more information about copyright see the University General Counsel web page</i> : <a href="copyright_guidelines.shtml">Copyright Guidelines</a>.</p>
  </div>
  <div class="tab-pane" id="r-books"> 
    <p>Book reserves can be requested by using the <a href="https://library.nd.edu/reserves/forms/books.shtml">online request form</a>.</p>
    <p>You may place library books or personal books on hard copy reserve. <strong>Please provide the full citation for faster processing of your requests.</strong> We can take your requests up to six (6) months in advance. We encourage early submissions to allow staff the time to obtain the proper permissions for use. We will be happy to retrieve your requested books if they are owned by the library; however, this can delay processing time.  If you need to speed up the processing time, it would be to your advantage to retrieve the material and bring it with your request.</p>
    <p>We only need one copy of items for which we will be creating a digital copy ; please make sure the pages are clearly legible for scanning.  Items we scan to create a digital copy will not be placed on hard copy reserve.  After scanning, we will return these items to you through campus mail.</p>
    <p>Any library owned books which are needed for Reserves and are checked out by another patron will be recalled by us.  Once the recall is made the patron will have seven (7) days to return the book, which can delay processing. We will place orders for books that the library does not own which are needed for a course.  Orders are given a "rush" priority and we generally obtain them within 2-4 weeks, but it can take longer depending on the availability of the item.</p>
    <p>Unless we are notified other wise, all books will stay on reserve until the end of the academic semester. At that time Reserve staff will remove all items from Course Reserves and return hard copy items back to the general collection.  If you would prefer to pick up any personal items please let us know, otherwise, all personal hard copy items that are left at the end of term will be sent back to you through campus mail.</p>
  </div>
  <div class="tab-pane" id="r-articles">
    <p>Article reserves can be requested by using the <a href="https://library.nd.edu/reserves/forms/photocopy.shtml">online request form</a>. Providing a citation that is as complete as possible will speed up processing time. Articles that are only availabe in hard copy format will be digitized before being placed on reserve. We typically produce PDF versions of articles that need to be digitized. For articles available via online journals that the library subscribes to, we will place a link to the article in the reserves system for your course.</p>
    <p>If you are requesting a reading you know is available through the Library's FindText, please provide us with the complete citation.</p>
  </div>
  <div class="tab-pane" id="r-videos"> 
    <p>Videos for reserves can be requested by using the new <a href="https://reserves.library.nd.edu">reserves system</a>. The classes you are instructing will be listed and you simply need to find the class, and click on "Add Reserve". An image of what this looks like appears below. (click image for detailed view)</p>
    <ul class="thumbnails">
      <li>
      <div class="thumbnail">
        <span style="font-style:italic;">1. Add Reserve to Course</span>
        <br/>
        <a href="#video_request1_modal" data-toggle="modal"><%= image_tag "video_request1_thumb.jpg" %></a>
      </div>
      </li>
      <li>
      <div class="thumbnail">
        <span style="font-style:italic;">2. Fill in form and save</span>
        <br/>
        <a href="#video_request2_modal" data-toggle="modal" class="thumbnail"><%= image_tag "video_request2_thumb.jpg" %></a>
      </div>
      </li>
    </ul>
    <div id="video_request1_modal" style="width:800px; margin-left:-400px;" class="modal hide fade" tabindex="-1">
      <div class="modal-body">
        <%= image_tag "video_request1.png" %>
      </div>
    </div>
    <div id="video_request2_modal" style="width:830px; margin-left:-415px;" class="modal hide fade" tabindex="-1">
      <div class="modal-body">
        <%= image_tag "video_request2.png" %>
      </div>
    </div>
  </div>
  <div class="tab-pane" id="r-video-faq">
    <p><strong>How many requests can I make?</strong></p>
    <p>Currently we do not limit the amount of requests you can make. Though we reserve the right to change this at any time. We do ask that if you are asking for many titles to be streamed that you do not request them all for the first day of class. Please stagger you requested dates for the titles closer to the times when your students will actually need them for class.</p>
    <p><strong>What videos can you digitize?</strong></p>
    <p>We can digitize any title owned by the libraries on campus. This includes VHS, DVD, and Blu-Ray. We can also digitize any region and format. (PAL/NTSC) Unfortunately due to fair use guidelines and copyright laws we cannot digitize your personally owned videos.</p>
    <p><strong>Who can request streaming videos?</strong></p>
    <p>Professors teaching a course to Notre Dame students.</p>
    <p><strong>Do I have to request my titles every semester?</strong></p>
    <p>Yes, requests need to be re-evaluated every semester to ensure that they still fall within fair use guidelines.</p>
    <p><strong>How long does it take to digitize videos?</strong></p>
    <p>We ask that you give us at least two weeks to get your videos ready for you. Sometimes at the beginning of the semester the wait can be even longer. The earlier you can request your videos the better.</p>
  </div>
  <div class="tab-pane" id="r-audio"> 
    <p>For any audio items that you would like to place on reserves, please contact the Music Librarian, <a href="http://library.nd.edu/directory/index.cgi?page=empview&empID=580">Robert Simon</a>.</p>
  </div>
  <div class="tab-pane" id="r-other"> 
    <p>Other types of digital files than what is listed here can also be put on reserve. For example, if you have a <strong>Word document, spreadsheet, image, text file, small data sample, or URL to an external web site</strong> please feel free to incorporate these into your course reserves. The new reserves system will allow you to upload a digital file of your choice for classes you are instructing. One of the services we provide is copyright veting which we will do you for with each item you submit. This will be done as quickly as possible, and we are exploring ways to speed up this process.</p>
    <p>We are also exploring ways to integrate the reserves system with digital repositories such as CurateND, as well as other digital streaming services supported by the university. Our goal is to make it easy for you to incporate any item into reserves whether physical or digital, regardless of the source.</p>
  </div>
</div>
