<ul class="nav nav-tabs nav-stacked nav-pills span3" style="margin-right:20px;">
  <li class="active"><a href="#s-general" data-toggle="tab">General Information</a></li>
  <li class=""><a href="#s-students" data-toggle="tab">Students</a></li>
  <li class=""><a href="#s-faculty" data-toggle="tab">Faculty</a></li>
</ul>
<div class="tab-content" style="margin-left: 20%; margin-right: 100px;"> 
  <div class="tab-pane active" id="s-general"> 
    <p>Library reserves is currently in a state of transition. We're streamlining our workflow and processes to make it easier for students and faculty to set up and request reserves. Because of this, access to reserves within Sakai requires one method for video reserves, and another for all other reserves until <strong>Fall Break 2013</strong>. Following fall break, reservse will be unified, and there will be one simple method by which you will be able to access and use reserves within Sakai.</p>
    <p><strong>Video Reserves:</strong> An instructor for the course has access to a new tool called "Video Reserves" which they can add to their Sakai course. This tool will provide automated access to all digitized videos the professor has requested.</p>
    <p><strong>All other reserves:</strong> The instructor for the course will be given a web link pointing directly to their reserves in the old reserves system. This can be used to create a generic web tool within Sakai in order to provide easy access to the remainder of your course reserves.</p>
  </div>
  <div class="tab-pane" id="s-students"> 
    <p><strong>Video Reserves:</strong> Your instructor will add a tool to your Sakai course called "Video Reserves". This tool will provide seamless access to all of the digitized videos your professor has requested for your course. You will able to stream the videos from directly in Sakai.</p>
    <p><strong>All other reserves:</strong> Your instructor will be given instructions on adding a generic web tool which will link directly into the remainder of your course reserves. This will include all reserves except streaming video.</p>
    <p><strong>Questions?</strong> Please contact the library or the OIT Sakai team if you have any questions about reserves or how to access them within Sakai.</p>
    <p></p>
  </div>
  <div class="tab-pane" id="s-faculty"> 
    <p><strong>Video Reserves:</strong> A new tool has been made available to your Sakai course called "Video Reserves". You can access the list of tools by editing the properties of your course, go to the available tools list, and check the box next to "Video Reserves". You will need to save these settings, and then the tool will be available to students of your course.</p>
    <p><strong>All other reserves:</strong> You will be given a direct link to your course reserves in the old reserves system once they have been prepared. You can use this link to add a generic web tool to your course so that your students can easily access your reserves list from within Sakai. This will include all reserves except streaming video. Please remember that we will be transitioning to the new unified reserves system following Fall Break 2013. After that, you will have access to a single tool in Sakai called "Library Reserves" which will include all of your course reserves.</p>
    <p><strong>Questions?</strong> Please contact the library or the OIT Sakai team if you have any questions about reserves or how to access them within Sakai.</p>
  </div>
</div>
