<% player = Jwplayer.new('BigBuckBunny.mp4') %>
<div class="tab-content" style="margin-right: 100px;">
  <style>
    li { line-height: 28px; }
  </style>
  <div class="eight columns">
    <ol>
      <li>We recommend using <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a> </li>
      <li>If students are having issues with streaming videos they can always use a computer in one of the labs on campus.</li>
    </ol>
    <h3>Firefox</h3>
    <ol>
      <li>If you see the message "Loading Video Player..." and no player ever loads.  Check to see if you have <a href="http://get.adobe.com/flashplayer/">flash</a> installed.</li>
    </ol>
    <h3>Android</h3>
    <ol>
      <li>The video is supported in most android versions (> 3.0).  If you are having trouble on your android device it may be an unsupported device.  You will to switch to a desktop version of chrome. <%= link_to 'Test Android Player', player.rstp_url() %></li>
    </ol>
  </div>

  <div class="four columns">
    <h4>Test Video</h4>
    <%= player.jwplayer(autostart: false) %>

  </div>
</div>
