
<div class="tab-content" style="margin-right: 100px;">
  <style>
    li { line-height: 28px; }
  </style>
  <div class="eight columns">
    <ol>
      <li>We recommend using <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Google Chrome</a> </li>
      <li>If students are having issues with streaming videos they can always use a computer in one of the labs on campus.</li>
      <li>If you see the message "Loading Video Player..." and no player ever loads.  Check to see if you have <a  target="_blank" href="http://get.adobe.com/flashplayer/">flash</a> installed.</li>
      <li>If you have paused the media and left it in active for a long period of time.  Your session may have timed out and you may need to reload the page.</li>
    </ol>
    <h3>Android</h3>
      <p> Support for streaming to android devices is not available on all Android devices.  It is manufacturer and version dependent.  That said many versions of Android greater than 4.0 will be able to stream vidoe and audio.  If you are having trouble try using a desktop computer.</p>
  </div>

</div>
