<ul class="nav nav-tabs nav-stacked nav-pills span3 affix" >
  <li class="active"><a href="#v-general" data-toggle="tab">General Information</a></li>
  <li class=""><a href="#v-students" data-toggle="tab">Students</a></li>
  <li class=""><a href="#v-faculty" data-toggle="tab">Faculty</a></li>
</ul>
<div class="tab-content" style="margin-left: 20%; margin-right: 100px; margin-bottom: 200px;">
  <div class="tab-pane active" id="v-general"> 
    <p>We are in the process of improving access to reserves through the creation of a new reserves portal as well as modifications to the workflow so that faculty are more empowered to set up course reserves with minimal library intervention. We will finalize this transition over Fall Break 2013. We apologize for the confusion, but please contact the library if you have any questions.</p>
  </div>
  <div class="tab-pane" id="v-students"> 
    <p>Once your professor has placed items on reserves for your course, access to those items will be handeled through one of two web sites until Fall Break 2013. Library reserves is currently transitioning to a new online portal through which you'll be able to easily access both digital items including streaming video and audio, as well as the status of any print reserves your professor may be using. Until we fully transition, access to reserves online is split between digital video reserves and everything else.</p>
    <p><strong>Video Reserves:</strong> Use the <a href="https://reserves.library.nd.edu">new online reserves system</a>.</p>
    <p><strong>All Other Reserves:</strong> Use the <a href="https://library.nd.edu/reserves/ereserves">old reserves system</a>. You can check the availability status of any print reserves using the old reserves system. All articles, book chapters, and other digital items will also be available using the old system. Remember, we will transition from the old system following Fall Break 2013 after which all of your reserves will be available in the new system.</p>
    <p><strong>In Sakai:</strong> Your professor will be given instructions by the library on how to make all of your reserves accessible in Sakai. For video streaming requests, we have added a tool to make those resources easily available. Please look for the tool called "Video Reserves" in your Sakai course. For all other reserves, the professor will add a web tool that will link directly to the old reserves system from Sakai.</p>
  </div>
  <div class="tab-pane" id="v-faculty">
    <p><strong>Video Reserves:</strong> Use the <a href="https://reserves.library.nd.edu">new online reserves system</a>. This system will also display the availability status of all of your video streaming requests. After Fall Break 2013, this will be the only system you will need to use to place requests, monitor status, and view other information related to your reserves for all of your courses.</p>
    <p><strong>All Other Reserves:</strong> Use the <a href="https://library.nd.edu/reserves/ereserves">old reserves system</a>. This system will list all of the reserves that have been processed and made available to your students, with the exception of digital video reserves. Remember, we will transition from the old system following Fall Break 2013 after which all of your reserves will be available in the new system. After that time, you will be able to view all of your reserves information in the new system.</p>
    <p><strong>In Sakai:</strong> We will send you information on how to enable the old course reserves system by providing you with a link directly to the reserves for a specific course once the items you've requested have been prepared and are ready for the students. You can use this link to make the majority of your reserves available in Sakai using the Sakai web tool. Video reserves will be available using the new "Video Reserves" tool. After adding this tool to your course, that is all you need to do to make your video reserves available in Sakai.</p>
  </div>
</div>
