<div class="row-fluid">
	<div class="span2"></div>
	<div class="span8"><h2>What Are Course Reserves?</h2>

<p>
	Broaden the instruction Experience by using Course Reserves. Provide your students with easy access to books, book chapters, journal articles, streaming videos, audio playlists, and even your personally owned materials, <strong><em>And</em></strong> – the Course Reserves tool can help protect you from violating copyright.
</p>
<img src="/assets/team.png" alt="" class="right" width="50%">
<div class="well" style="width:48%;">
	<h3>Getting Started in 5 EASY STEPS!</h3>
	<ol>
		<li>Access the LIbrary Reserves tool at: <a href="https://reserves.library.nd.edu">https://reserves.library.nd.edu</a>.</li>
		<li>Select a course to begin adding Reserve items.</li>
		<li>Click on the "Add Reserve" button and select "New Reserve".</li>
		<li>Select material type.</li>
		<li>Complete the form with title, citation, and date needed. Submit when you are done.</li>
	</ol>
</div>

<h3>That's it!</h3>

<p>
	Hesburgh Libraries Reserves staff will do a fair use evaluation (if necessary) and make the item available to your students.
</p></div>
	<div class="span2"></div>
</div>



