<% content_for(:content_title) do %>
  <h1>What is Library Reserves</h1>
<% end %>
<%
breadcrumb(['Help'])
%>

<p>
  <%= t('documentation.what_is_reserves') %>
</p>

<p class="text-center">

  <%= link_to 'Student FAQ', documentation_path('student-access'), class: 'btn btn-primary' %>
  <%= link_to 'Instructor FAQ', documentation_path('instructor-access'), class: 'btn btn-primary' %>
</p>
