<h2>How do I?...</h2>
<ul class="nav nav-tabs">
    <li><a href="#request" data-toggle="tab">Place a reserves request</a></li>
    <li><a href="#view" data-toggle="tab">View my course reserves</a></li>
    <li><a href="#sakai" data-toggle="tab">View reserves in Sakai</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="request">
        <%= render :partial => 'place_request' %>
    </div>
    <div class="tab-pane" id="view">
        <%= render :partial => 'view_reserves' %>
      </div>
      <div class="tab-pane" id="sakai">
        <%= render :partial => 'sakai' %>
      </div>
</div>

