---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/resources/search/catalog.json?auth_token=SCSGYmwqLqSyBTmxCQgM&q=book
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"size":99699,"display_size":"99,699","search_term":"book","search_scope":"catalog","search_url":"http://onesearch.library.nd.edu/primo_library/libweb/action/dlSearch.do?bulkSize=10&institution=NDU&onCampus=true&query=any%2Ccontains%2Cbook&tab=nd_campus&vid=NDU&vl%28freeText0%29=book&search_scope=nd_campus&highlight=true&displayField=title&displayField=creator&indx=1","google_books":{"ids":{"OCLC:05283301":"ndu_aleph001372463","OCLC:03919942":"dedupmrg74254626","OCLC:00382590":"dedupmrg75795519","OCLC:06715359":"dedupmrg72984074","OCLC:00741667":"ndu_aleph000602929","OCLC:31136872":"ndu_aleph003366556","OCLC:71194494":"dedupmrg16831904"},"url":"http://books.google.com/books?bibkeys=OCLC%3A05283301%2COCLC%3A03919942%2COCLC%3A00382590%2COCLC%3A06715359%2COCLC%3A00741667%2COCLC%3A31136872%2COCLC%3A71194494&callback=googleBooksCallback&jscmd=viewapi"},"records":[{"id":"ndu_aleph001368481","type":"book","oclc":"05283301","physical":true,"physical_available":true,"electronic":false,"fulltext_available":false,"display":{"type":"Book","title":"Book.","creator_contributor":"Ronnie
        Wathen 1934-.","publisher_provider":"s.l. : s.n. 1968","availability":"Available","available_library":"Notre
        Dame, Hesburgh Library General Collection (PR 6073 .A83 B6 )"},"links":{"detail_url":"http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&institution=NDU&onCampus=true&query=any%2Ccontains%2Cbook&tab=nd_campus&vid=NDU&vl%28freeText0%29=book&search_scope=nd_campus&highlight=true&displayField=title&displayField=creator&docId=ndu_aleph001368481&indx=1"},"holdings":[{"record_id":"ndu_aleph001368481","institution":"University
        of Notre Dame","short_institution_name":"Notre Dame","library":"Hesburgh Library","institution_code":"NDU","library_code":"HESB","collection":"General
        Collection","call_number":"(PR 6073 .A83 B6 )","availability_status_code":"check_holdings","source_institution_code":"NDU50","source_library_code":"HESB","source_sublocation_code":"GEN"}],"openurl":{"au":"Wathen,
        Ronnie","aufirst":"Ronnie,","aulast":"Wathen","btitle":"Book.","date":"1968","genre":"book","pub":"s.n."},"primo":{"control":{"sourcerecordid":"001368481","sourceid":"ndu_aleph","recordid":"ndu_aleph001368481","originalsourceid":"NDU01","ilsapiid":"NDU01001368481","sourceformat":"MARC21","sourcesystem":"Aleph"},"display":{"type":"book","title":"Book.","creator":"Ronnie
        Wathen 1934-.","publisher":"s.l. : s.n.","creationdate":"1968","availlibrary":"$$INDU$$LHESB$$1General
        Collection$$2(PR 6073 .A83 B6 )$$Scheck_holdings$$XNDU50$$YHESB$$ZGEN","lds02":"ndu_aleph001368481","availinstitution":"$$INDU$$Scheck_holdings","availpnx":"available"},"links":{"openurl":"$$Topenurl_journal","backlink":"$$Taleph_backlink$$DNotre
        Dame Catalog","thumbnail":"$$Tgoogle_thumb","openurlfulltext":"$$Topenurlfull_journal","linktoholdings":["$$Taleph_holdings$$INDU","$$Taleph_holdings"],"linktoholdsnotexist":"$$Taleph_holdings_not_in_user_institution","linktouc":"$$Tworldcat_oclc$$Eworldcat","lln01":"$$Tfindit_link"},"search":{"creatorcontrib":["Ronnie,  Wathen  1934-.","Wathen,
        R"],"title":"Book.","general":["s.n.,","(OCoLC)05283301","05283301","AGF9045","AllDocuments"],"sourceid":"ndu_aleph","recordid":["ndu_aleph001368481","001368481","1368481"],"creationdate":"1968","searchscope":["ndu_aleph","NDU"],"scope":["HESB","ndu_aleph","NDU"],"lsr01":["HESB
        GEN","HESB General Collection"],"lsr02":"Wathen, Ronnie,","lsr05":["PR 6073
        .A83 B6","PR6073.A83B6","PR6073 .A83 B6 :"],"lsr06":"s.n.,"},"sort":{"title":"Book.","creationdate":"1968","author":"Wathen,
        Ronnie, 1934-."},"facets":{"language":"und","creationdate":"1968","prefilter":["books","print"],"rsrctype":["books","print"],"creatorcontrib":"Wathen,
        R","library":"HESB","frbrgroupid":"74324592","frbrtype":"6"},"dedup":{"t":"1","c3":"book","c4":"1968","f5":"book","f6":"1968","f7":"book","f10":"s
        n","f11":"wathen ronnie 1934"},"frbr":{"t":"1","k1":"$$Kwathen ronnie 1934$$AA","k3":"$$Kbook$$AT"},"delivery":{"institution":"NDU","delcategory":"Physical
        Item"},"ranking":{"booster1":"1","booster2":"1"},"addata":{"aulast":"Wathen","aufirst":"Ronnie,","au":"Wathen,
        Ronnie","btitle":"Book.","date":"1968","risdate":"1968.","format":"book","genre":"book","ristype":"BOOK","cop":"s.l.","pub":"s.n.","oclcid":"05283301"}}},{"id":"ndu_aleph001372463","type":"book","oclc":"05283301","physical":true,"physical_available":true,"electronic":false,"fulltext_available":false,"display":{"type":"Book","title":"Book","creator_contributor":"R.
        J. Wathen","publisher_provider":"s.l. : s.n. 1968","availability":"Available","available_library":"Notre
        Dame, Hesburgh Library General Collection (PR 6073 .A83 B6 )"},"links":{"detail_url":"http://onesearch.library.nd.edu/primo_library/libweb/action/dlDisplay.do?bulkSize=10&institution=NDU&onCampus=true&query=any%2Ccontains%2Cbook&tab=nd_campus&vid=NDU&vl%28freeText0%29=book&search_scope=nd_campus&highlight=true&displayField=title&displayField=creator&docId=ndu_aleph001372463&indx=2"},"holdings":[{"record_id":"ndu_aleph001372463","institution":"University
        of Notre Dame","short_institution_name":"Notre Dame","library":"Hesburgh Library","institution_code":"NDU","library_code":"HESB","collection":"General
        Collection","call_number":"(PR 6073 .A83 B6 )","availability_status_code":"available","number_of_items":"0","multi_volume":"N","number_of_loans":"0","source_institution_code":"NDU50","source_library_code":"HESB","source_sublocation_code":"GEN"}],"openurl":{"au":"Wathen,
        R. J","aufirst":"R. J.","aulast":"Wathen","btitle":"Book","date":"1968","genre":"book","pub":"s.n.]"},"primo":{"control":{"sourcerecordid":"001372463","sourceid":"ndu_aleph","recordid":"ndu_aleph001372463","originalsourceid":"NDU01","ilsapiid":"NDU01001372463","sourceformat":"MARC21","sourcesystem":"Aleph"},"display":{"type":"book","title":"Book","creator":"R.
   [...]
