<div class="container">
  <div class="row">
    <div class="span9">
      <h1>Videos</h1>
      <div class="span6">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td>
                    <span class="label label-inverse">Videos Current Semester</span>
                  </td>
                  <td>
                    <%= @videos.count %>
                  </td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
