<% content_for(:content_title) do %>
  <div class="page-header">
    <h1>Requests</h1>
  </div>
<% end %>
<% content_for(:content_title_links) do %>
  <a href="#filter_form" data-toggle="modal" class="btn btn-primary">Filter Request Results</a>
<% end %>

<%
breadcrumb(['Requests'])
%>

<%= render :partial => 'admin_request_filter_nav', locals: { :filter => @admin_request_listing.filter }%>

<table class="table table-striped find-resources admin_datatable datatable">
  <thead>
    <tr>
      <th></th>
      <th>Request Date</th>
      <th>Date Neeeded</th>
      <th>Title</th>
      <th>Requestor</th>
      <th>Course</th>
      <th>Type</th>
      <th>Missing Data</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_request_listing.reserves.each do | reserve | %>
      <%= render :partial => '/external/request/lists/admin_list_row', :locals => { object: reserve } %>
    <% end %>
  </tbody>
</table>


<div class="modal hide" id="filter_form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Filter Requests for</h3>
  </div>
  <div class="modal-body">
    <form>
      <fieldset id="topic_list">
        <legend>For Types</legend>
        <label class="checkbox"><input type="checkbox"> Books</label>
        <label class="checkbox"><input type="checkbox"> Book Chapters</label>
        <label class="checkbox"><input type="checkbox"> Journal</label>
        <label class="checkbox"><input type="checkbox"> Audio</label>
        <label class="checkbox"><input type="checkbox"> Video</label>
      </fieldset>

      <fieldset id="topic_list">
        <legend>For Library </legend>
        <label class="checkbox"><input type="checkbox"> Hesburgh</label>
        <label class="checkbox"><input type="checkbox"> Chem/Phys</label>
        <label class="checkbox"><input type="checkbox"> BIC</label>
        <label class="checkbox"><input type="checkbox"> Math</label>
        <label class="checkbox"><input type="checkbox"> ...</label>
      </fieldset>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

