div.dataTables_filter label {
  float: none;
}

div.dataTables_paginate {
  float: none;
  margin: 20px 0;
}

.paginate-right {

  div.dataTables_paginate {
    float: right;
    margin-top: 0;
  }
}

.ndl-datatables-filters {
  input {
    height: auto;
  }
}

table.dataTable thead th {
  padding-left: 8px;
}
