// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.find-resources {
  .EXLHiddenCue, .EXLMyShelfStar, .EXLResultNumber, .EXLTabsRibbon, .EXLTabHeaderButtons, .EXLDetailsContent, .EXLResultTabContainer {
    display: none;
  }

  .vertical {
    a {
      display: block;
      padding: 12px;
    }
  }

  .six fieldset {
    border:solid 1px #2C5882;
    padding:5px 12px;
  }

  fieldset legend {
    margin-bottom: 0;
    border:none;
    padding:0 5px;
    width: auto;
    font-size: 19px;
    color:#0F3255;
    font-weight: bold;
  }


  .more {
    float: right;
  }

  .record {
    clear: both;
    padding-bottom: 10px;
    min-height: 110px;

    p {
      font-size: 13px;
      line-height: 15px;
      margin-bottom: 0;
    }

    .summary {
      margin-left: 90px;
    }

    .no-margin {
      margin-left: 0;
    }

    .cover {
      width: 80px;
      float: left;
      text-align: center;
    }

    .cover-image {
      background-color: #fff;
      background-image: url("/assets/icon_book.png");
      background-position: center;
      background-repeat: no-repeat;
      width: 57px;
      height: 80px;
      margin: auto;

      img {
        width: 57px;
        height: 80px;
      }
    }

    .cover-type {
      text-align: center;
    }

    .title {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 0;
    }

    .author {
      font-size: 13px;
      line-height: 18px;
      margin-top: 0
    }

    .available {
      color: #5ca301;
    }

    .availability span {
      display: block;
    }
  }

  .record-book {
    .cover-image {
      background-image: url("/assets/icon_book.png");
    }
  }

  .record-article {
    .cover-image {
      background-image: url("/assets/icon_article.png");
    }
  }

  .record-journal {
    .cover-image {
      background-image: url("/assets/icon_journal.png");
    }
  }

  .record-database {
    .cover-image {
      background-image: url("/assets/icon_book.png");
    }
  }

  .record-newspaper_article {
    .cover-image {
      background-image: url("/assets/icon_newspaper.png");
    }
  }

  .record-text_resource {
    .cover-image {
      background-image: url("/assets/icon_book.png");
    }
  }

  .record-video {
    .cover-image {
      background-image: url("/assets/icon_video.png");
    }
  }

  .record-audio {
    .cover-image {
      background-image: url("/assets/icon_audio.png");
    }
  }

  .record-score {
    .cover-image {
      background-image: url("/assets/icon_book.png");
    }
  }

}
