<%
css_class = ""

if !local_assigns[:row_title]
  row_title = ""
  css_class = "demo_row"
  id = "add_row"
else
  css_class = "huh"
end

if !local_assigns[:file]
  file = ""
end
%>
<li id="<%= id %>" class="<%= css_class %> playlist_row twelve columns">
  <div class="five columns">
    <input type="text" placeholder="Media Title" name="admin_update_resource[playlist_rows][][title]" value="<%= row_title %>">
  </div>
  <div class="five columns">
    <input type="text" placeholder="Filename" name="admin_update_resource[playlist_rows][][filename]"  value="<%= file %>">
  </div>
  <div class="two columns">
    <button type="button" class="delete_row">Delete</button>
  </div>
</li>
