
<h5>Streaming Server Filename</h5>
<%= f.input :url, :label => false %>

<div class="form-actions">
  <%= f.button :submit, "Save", :class => 'btn btn-primary' %>

  <%= link_to 'Cancel', request_path(@request.id) %>
</div>
