<%= render partial: '/course_reserves/reserve_header', locals: { reserve: @get_reserve.reserve } %>

<% content_for(:content_title_links) do %>
  <a href="/documentation/troubleshooting" target="blank" class="btn">Trouble Viewing the Material?</a>
<% end %>


<% breadcrumb([
    link_to('Courses', courses_path),
    link_to(@get_reserve.course.title, course_reserves_path(@get_reserve.course.id)),
    @get_reserve.reserve.title
   ]) %>

<%= @get_reserve.video_player %>
<p>
  <%= link_to('Back to Course', course_reserves_path(@get_reserve.course.id), class: 'btn') %>
</p>
