---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/people/by_netid/jdan/201220/courses.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"people":[{"id":"jdan","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jdan","first_name":"Jun","last_name":"Dan","full_name":"Jun
        Dan","ndguid":"nd.edu.ndbf7fz2","position_title":"Grad Student Stipend","campus_department":"Applied
        Computational Math & Stats","primary_affiliation":"Student","contact_information":{"email":"Jun.Dan.2@nd.edu"},"enrolled_courses":[{"course_id":"201220_ACMS_98698","crosslist_id":"201220_29898","course_title":"Research
        & Dissertation","section_groups":{"section_group_id":"201220_29898","primary_instructor":{"id":"jli7","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jli7","first_name":"Jiahan","last_name":"Li","full_name":"Jiahan
        Li","ndguid":"nd.edu.ndrh3xh4","position_title":"Assistant Professor","campus_department":"Applied
        Computational Mathematics & Statistics","primary_affiliation":"Faculty","contact_information":{"campus_address":"156
        Hurley Hall&#10;Notre Dame, IN 46556","email":"jiahan.li@nd.edu","phone":"+1
        574 631 2741"}},"sections":[{"section_id":"201220_29898","supersection_id":null,"instructors":[{"id":"jli7","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jli7","first_name":"Jiahan","last_name":"Li","full_name":"Jiahan
        Li","ndguid":"nd.edu.ndrh3xh4","position_title":"Assistant Professor","campus_department":"Applied
        Computational Mathematics & Statistics","primary_affiliation":"Faculty","contact_information":{"campus_address":"156
        Hurley Hall&#10;Notre Dame, IN 46556","email":"jiahan.li@nd.edu","phone":"+1
        574 631 2741"}}],"term":"201220","course_triple":"201220_ACMS_98698","course_title":"Research
        & Dissertation","alpha_prefix":"ACMS","number":98698,"section_number":7,"crn":"29898","enrollments":["jdan","wchen4"]}],"crosslist_id":"201220_29898"}}],"instructed_courses":[{"course_id":"201220_ACMS_10145","crosslist_id":"201220_28970_28969","course_title":"Statistics
        for Business and Economics I","section_groups":{"section_group_id":"201220_28970_28969","primary_instructor":{"id":"hhuynh1","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"hhuynh1","first_name":"Huy","last_name":"Huynh","full_name":"Huy
        Huynh","ndguid":"nd.edu.ndhq9mh7","position_title":"Assistant Professional
        Specialist","campu[...]
