---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/people/by_netid/vcoyne/201300/courses.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"people":[{"id":"vcoyne","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"vcoyne","first_name":"Virginia","last_name":"Coyne","full_name":"Virginia
        Coyne","ndguid":"nd.edu.ndth2qg8","primary_affiliation":"Student","contact_information":{"email":"Virginia.S.Coyne.24@nd.edu"},"enrolled_courses":[{"course_id":"201300_BAUG_35500","crosslist_id":"201300_3483","course_title":"Internship
        Practicum","section_groups":{"section_group_id":"201300_3483","primary_instructor":{"id":"gshropsh","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"gshropsh","first_name":"Gina","last_name":"Shropshire","full_name":"Gina
        Shropshire","ndguid":"nd.edu.ndqm6xb9","position_title":"Assistant Professional
        Specialist","campus_department":"Management","primary_affiliation":"Faculty","contact_information":{"campus_address":"101C
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"gshropsh@nd.edu","phone":"+1
        574 631 3857"}},"sections":[{"section_id":"201300_3483","supersection_id":null,"instructors":[{"id":"gshropsh","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"gshropsh","first_name":"Gina","last_name":"Shropshire","full_name":"Gina
        Shropshire","ndguid":"nd.edu.ndqm6xb9","position_title":"Assistant Professional
        Specialist","campus_department":"Management","primary_affiliation":"Faculty","contact_information":{"campus_address":"101C
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"gshropsh@nd.edu","phone":"+1
        574 631 3857"}}],"term":"201300","course_triple":"201300_BAUG_35500","course_title":"Internship
        Practicum","alpha_prefix":"BAUG","number":35500,"section_number":1,"crn":"3483","enrollments":["anel","atatis","bfalkenb","bmcgowan","cdeobald","cdollard","cgeils","cmansfie","cpark4","cprado","fsabal","gchapman","hlee8","jfang1","jpopp","jstanto1","jyu2","kcarter6","kkeenan1","klee13","lsulliv8","mcronin7","mklingsh","mkraft4","mmarti28","mryan24","qlu","rmoore11","rweltner","ryuan","sdelasca","tbliha","tceledin","vcoyne","ysheng","yzhang17"]}],"crosslist_id":"201300_3483"}},{"course_id":"201300_FIN_30220","crosslist_id":"201300_1654","course_title":"Macroeconomic
        Analysis","sec[...]
