---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/people/by_netid/jotousa1/201300/courses.json?auth_token=SCSGYmwqLqSyBTmxCQgM
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"people":[{"id":"jotousa1","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jotousa1","first_name":"Janet","last_name":"O''Tousa","full_name":"Janet
        O''Tousa","ndguid":"nd.edu.ndkr3mh8","position_title":"Associate Professional
        Specialist","campus_department":"Accountancy","primary_affiliation":"Faculty","contact_information":{"campus_address":"252
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"jotousa1@nd.edu","phone":"+1
        574 631 9090"},"enrolled_courses":[],"instructed_courses":[{"course_id":"201300_ACCT_20200","crosslist_id":"201300_3176","course_title":"Accountancy
        II","section_groups":{"section_group_id":"201300_3176","primary_instructor":{"id":"jotousa1","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jotousa1","first_name":"Janet","last_name":"O''Tousa","full_name":"Janet
        O''Tousa","ndguid":"nd.edu.ndkr3mh8","position_title":"Associate Professional
        Specialist","campus_department":"Accountancy","primary_affiliation":"Faculty","contact_information":{"campus_address":"252
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"jotousa1@nd.edu","phone":"+1
        574 631 9090"}},"sections":[{"section_id":"201300_3176","supersection_id":null,"instructors":[{"id":"jotousa1","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"jotousa1","first_name":"Janet","last_name":"O''Tousa","full_name":"Janet
        O''Tousa","ndguid":"nd.edu.ndkr3mh8","position_title":"Associate Professional
        Specialist","campus_department":"Accountancy","primary_affiliation":"Faculty","contact_information":{"campus_address":"252
        Mendoza College of Bus&#10;Notre Dame, IN 46556","email":"jotousa1@nd.edu","phone":"+1
        574 631 9090"}}],"term":"201300","course_triple":"201300_ACCT_20200","course_title":"Accountancy
        II","alpha_prefix":"ACCT","number":20200,"section_number":1,"crn":"3176","enrollments":["dcalder3","dkyrouac","jmeyers4","kwhite10","mfrederi","mli10","nboggess","pstynes"]}],"crosslist_id":"201300_3176"}}]}]}'
  recorded_at: Wed, 28 Aug 2013 19:24:11 GMT
recorded_with: VCR 2.5.0
