---
http_interactions:
- request:
    method: get
    uri: https://apipprd.library.nd.edu/1.0/resources/courses/search.json?auth_token=SCSGYmwqLqSyBTmxCQgM&q=augustine&term=201310
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"term_prefix":"201310","alpha_prefix":"MI","number":63421,"course_title":"Early
        Christianity Seminar: Augustine","section_groups":[{"section_group_id":"201310_19590","primary_instructor":{"id":"sleyerle","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"sleyerle","first_name":"Blake","last_name":"Leyerle","full_name":"Blake
        Leyerle","ndguid":"nd.edu.ndhv9vs4","position_title":"Associate Professor","campus_department":"Theology","primary_affiliation":"Faculty","contact_information":{"campus_address":"444
        Malloy Hall&#10;Notre Dame, IN 46556-4619","email":"Blake.Leyerle.1@nd.edu","phone":"+1
        574 631 7090"}},"sections":[{"section_id":"201310_19590","supersection_id":null,"instructors":[{"id":"sleyerle","identifier_contexts":{"ldap":"uid","staff_directory":"email"},"identifier":"by_netid","netid":"sleyerle","first_name":"Blake","last_name":"Leyerle","full_name":"Blake
        Leyerle","ndguid":"nd.edu.ndhv9vs4","position_title":"Associate Professor","campus_department":"Theology","primary_affiliation":"Faculty","contact_information":{"campus_address":"444
        Malloy Hall&#10;Notre Dame, IN 46556-4619","email":"Blake.Leyerle.1@nd.edu","phone":"+1
        574 631 7090"}}],"term":"201310","course_triple":"201310_MI_63421","course_title":"Early
        Christianity Seminar: Augustine","alpha_prefix":"MI","number":63421,"section_number":1,"crn":"19590","enrollments":[]}],"crosslist_id":"201310_KJ"}],"supersections":null}]'
  recorded_at: Thu, 29 Aug 2013 14:00:21 GMT
recorded_with: VCR 2.5.0
