<% content_for(:content_title) do %>
  <div class="page-header"><h1>Archived Courses</h1></div>
<% end %>
<% content_for(:help) do %>
  <a class="btn btn-info"><i class="icon-question-sign"></i> Help</a>
<% end %>


<% breadcrumb([  link_to('Courses', courses_path), 'Archived Courses']) %>

<% if @user_archive_course_listing.has_any_archived_instructed_courses? %>

  <% @user_archive_course_listing.archived_semesters.each do | semester | %>
    <% if @user_archive_course_listing.semester_has_courses?(semester) %>
      <%= render :partial => '/courses/instructed_course_list',
            locals: {
              instructed_courses: @user_archive_course_listing.semester_instructed_courses_with_reserves(semester),
              title: semester.full_name }
        %>
    <% end %>
  <% end %>
<% else %>

  <p class="alert">
    You do not have any archived courses that have reserves.
  </p>
<% end %>
