<% content_for(:content_title) do %>
  <h1><%= h @course.title %> <small><%= h @course.instructor_name %></small></h1>
<% end %>

<%= render partial: '/user_course_listings/instructed_course_show', locals: { course: @course } %>

